<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>VUE自定义组件</title>
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, minimal-ui">
    <script src="/static/layuiadmin/layui/layui.js"></script>
    <script src="/static/common/utils.js"></script>
    <script src="/static/vue/vue.min.js"></script>
    <script src="/static/vue/Sortable.min.js"></script>
    <script src="/static/vue/vuedraggable.umd.min.js"></script>
    <script src="crossUtil.js"></script>
    <link rel="stylesheet" href="table.css" type="text/css"/>
    <link rel="stylesheet" href="/static/layuiadmin/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="/static/layuiadmin/style/admin.css" media="all">
    <script src="/static/element-ui@2.14.1/index.js"></script>
    <link rel="stylesheet" href="/static/element-ui@2.14.1/index.css" media="all">
</head>
<body>
<div id="dimlayout">
    <div class="layui-row layui-col-space10 layrow">
        <div class=" layui-col-md2 layrow" id="left">
            <!-- 填充内容 -->
            <div class="layui-card">
                <div class="layui-row">
                    <div class="layui-elem-quote layui-quote-nm">
                        <strong>模型信息</strong>
                        <div class="layui-btn-group">
                            <!-- <button type="button" action="add" class="layui-btn layui-btn-primary layui-btn-sm">
                                 <i class="layui-icon">&#xe654;</i>
                             </button>
                             <button type="button" action="delete" class="layui-btn layui-btn-primary layui-btn-sm">
                                 <i class="layui-icon">&#xe640;</i>
                             </button>
                             <button type="button" action="attr" class="layui-btn layui-btn-primary layui-btn-sm">
                                 <i class="layui-icon">&#xe641;</i>
                             </button>-->
                        </div>

                    </div>
                </div>
                <div class="layui-row leftpd">
                    <div class="layui-form" id="leftree">
                    </div>
                </div>
            </div>
        </div>
        <div class=" layui-col-md10 layrow" id="right">
            <div class="layui-card">
                <div class="layui-row">
                    <div class="layui-elem-quote layui-quote-nm">
                        <a href="javascript:;" title="侧边伸缩">
                            <i class="layui-icon layui-icon-shrink-right" id="tabclick"></i>
                        </a>
                        <strong>视图</strong>
                        <!-- <button type="button" action="save" class="layui-btn layui-btn-primary layui-btn-sm">
                             <i class="layui-icon">&#xe62a;</i>
                         </button>-->
                    </div>
                </div>
                <div class="layui-row" id="righttable" style="display: none">
                    <div id="app">
                        <div class="container page">
                            <div class="layer title">页面</div>
                            <div class="panel">
                                <draggable v-model="page" group="dim" animation="100" drag-class="drag"
                                           ghost-class="ghost"
                                           chosen-class="chosen" handle=".drag-handle" @start="onStart" @end="onEnd"
                                           :move="onMove">
                                    <div class="item" v-for="item in page">
                                        <div class="drag-handle" @dblclick="selectMembers(item.dimId,'page')">&#9776;
                                            {{item.dimName}}
                                        </div>
                                        <el-select v-model="item.selected" placeholder="请选择">
                                            <el-option v-for="option in item.options"
                                                       :class="`indent${option.generation}`"
                                                       :key="option.code" :label="option.displayName"
                                                       :value="option.code">
                                            </el-option>
                                        </el-select>
                                    </div>
                                </draggable>
                            </div>
                        </div>
                        <div class="container row">
                            <div class="layer title">行</div>
                            <div id="row" class="panel">
                                <draggable v-model="row" group="dim" animation="100" drag-class="drag"
                                           ghost-class="ghost"
                                           chosen-class="chosen" @start="onStart" @end="onEnd">
                                    <div class="item" v-for="item in row">
                                        <div class="drag-handle" @dblclick="selectMembers(item.dimId,'row')">&#9776;
                                            {{item.dimName}}
                                        </div>
                                    </div>
                                </draggable>
                            </div>
                        </div>
                        <div class="container col">
                            <div class="layer ">
                                <div class="title">列</div>
                                <div id="tool" class="layui-btn-group">
                                    <button type="button" @click="fresh"
                                            class="layui-btn layui-btn-primary layui-btn-sm">
                                        <i class="layui-icon" title="刷新">&#xe9aa;</i>刷新
                                    </button>
                                    <button type="button" @click="exchange"
                                            class="layui-btn layui-btn-primary layui-btn-sm">
                                        <i class="layui-icon" title="行列转置">&#xe691;</i>转置
                                    </button>
                                    <button type="button" @click="saveView"
                                            class="layui-btn layui-btn-primary layui-btn-sm">
                                        <i class="layui-icon" title="保存/更新视图">&#xe621;</i>保存
                                    </button>
                                    <button type="button" @click="saveOtherView"
                                            class="layui-btn layui-btn-primary layui-btn-sm">
                                        <i class="layui-icon" title="另存视图">&#xe663;</i>另存
                                    </button>
                                    <button type="button" @click="deleteView"
                                            class="layui-btn layui-btn-primary layui-btn-sm">
                                        <i class="layui-icon" title="删除视图">&#xe640;</i>删除
                                    </button>
                                </div>
                            </div>
                            <div class="panel">
                                <draggable v-model="col" group="dim" animation="100" drag-class="drag"
                                           ghost-class="ghost"
                                           chosen-class="chosen" @start="onStart" @end="onEnd">
                                    <div class="item" v-for="item in col">
                                        <div class="drag-handle" @dblclick="selectMembers(item.dimId,'col')">&#9776;
                                            {{item.dimName}}
                                        </div>
                                    </div>
                                </draggable>
                            </div>
                        </div>
                        <div class="maintable">
                            <table class="layui-hide" id="maintable" lay-filter="maintable">
                            </table>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    let cubeid = "";
    let viewid = "";
    let viewname = "";
    Vue.component('vuedraggable', window.vuedraggable.name);
    layui.config({
        base: '/static/layuiadmin/' //静态资源所在路径
    }).extend({
        tablePlug: 'lib/extend/tablePlug/tablePlug',
        index: 'lib/index' //主入口模块
    }).use(['tablePlug', 'index', 'jquery', 'layer', 'form', 'table', 'tree', 'util'], function () {
        window.$ = layui.$, window.layer = layui.layer, window.form = layui.form, window.table = layui.table;
        window.tree = layui.tree;
        window.util = layui.util;
        cubeEvent.initData();
        cubeEvent.initEvent();
    });
    let cubeEvent = {
        initData: function () {
            $('#righttable').hide();
            cubeEvent.restInitVars();
            cubeEvent.initTree();
        },
        initTree: function () {
            fetchGet("/view/list", function (data) {
                tree.render({
                    elem: '#leftree'
                    , data: data
                    , onlyIconControl: true
                    , click: function (obj) {
                        cubeid = obj.data.cubeid;
                        if (obj.data.viewid) {//打开视图
                            viewid = obj.data.viewid
                            viewname = obj.data.title;
                        } else {//打开集席
                            viewid = "";
                            viewname = "";
                        }
                        Ctable.initPages();
                        $('#righttable').show();
                    }
                });
            });
        },
        restInitVars: function () {
            window.cubeid = "";
            window.viewid = "";
            window.viewname = "";
        }, initEvent() {
            //隐藏工具栏
            $('#tabclick').click(function () {
                $(this).toggleClass('layui-icon-shrink-right layui-icon-spread-left');
                $('#left').toggleClass('hide');
                $('#right').toggleClass('layui-col-md9 layui-col-md12');
            })
            //监听单元格编辑
            table.on('edit(maintable)', function (obj) {
                let value = obj.value //得到修改后的值
                    , data = obj.data.rowkey //得到所在行所有键值
                    , field = obj.field; //得到字段
                fetchPost("/cube/setData", {path: field + "#" + data, cubeid: cubeid, value: value})
            });

        }
    };
    let isInit = false;
    var Ctable = {
        setScope: function (dimid, layouttype, scope) {
            let dimitems = app[layouttype];

            let newItems = [], updateindex = 0;
            for (let i = 0; i < dimitems.length; i++) {
                let item = dimitems[i];
                newItems[i] = item;
                if (item.dimId == dimid) {
                    item.scope = scope;
                    updateindex = i;
                    if (layouttype == "row") {//如果是row更新,直接刷新
                        app.fresh();
                        return;
                    }
                }
            }
            fetchPost("/cube/getViewPage", {dimid: dimid, scope: scope}, function (data) {
                newItems[updateindex] = data;
                app[layouttype] = newItems;

            });

        }
        , initPages: function () {
            if (isInit) {
                app.initPages();
            } else {
                isInit = true;
                window.app = new Vue({
                    el: '#app',
                    components: {
                        vuedraggable,
                    }, created: function () {
                        this.initPages();
                    }
                    , updated: function () {
                        this.fresh();
                    }
                    , data() {
                        return {
                            drag: false,
                            page: [],
                            col: [],
                            row: []
                        };
                    },
                    methods: {
                        initPages() {
                            let params = "id=" + cubeid;
                            if (viewid) {
                                params += "&viewid=" + viewid;
                            }
                            fetchGet("/cube/getView?" + params, function (data) {
                                app.page = data.page;
                                app.col = data.col;
                                app.row = data.row;
                            });
                        }
                        , onStart() {
                            this.drag = true;
                        }
                        , onEnd() {
                            this.drag = false;
                        }
                        , onMove(e) {
                            // if (e.draggedContext.element.id == 4) return false;
                            return true;
                        }
                        , selectMembers(dimid, layouttype) {
                            layer.open({
                                type: 2,
                                title: '选择维度范围',
                                area: ['400px', '500px'],
                                fixed: false, //不固定
                                maxmin: true,
                                content: 'selectMembers.html?dimid=' + dimid + "&layouttype=" + layouttype
                            });
                        }
                        , exchange() {//行列转置
                            let temp = this.row;
                            this.row = this.col;
                            this.col = temp;
                        }
                        , fresh() {//数据刷新
                            if (this.row.length == 0 || this.col.length == 0) {
                                Ctable.loadTableData(true);
                            } else {
                                Ctable.loadTableData(false, this.page, this.row, this.col);
                            }
                        }
                        , freshPage() {
                            fetchPost("/cube/getViewPage", {dimid: dimid, scope: scope}, function (data) {

                            });
                        }
                        , saveView() {
                            if (!cubeid) {
                                showWarn("请先选择模型~");
                                return;
                            }
                            let viewlayout = app.getNowViewLayout();
                            if (viewid) {
                                showConfirm("更新视图", "需要保存重新构建的视图么?", () => {
                                    fetchPostJSON("/view/saveview", viewlayout, function () {
                                        showInfo("更新成功!");
                                    });
                                });
                            } else {
                                showPrompt('视图名称', function (name) {
                                    viewname = name;
                                    viewlayout.viewname = name;
                                    fetchPostJSON("/view/saveview", viewlayout, function (id) {
                                        viewid = id;
                                        cubeEvent.initTree();
                                    });
                                });
                            }
                        }
                        , saveOtherView() {
                            showPrompt('另存视图名称', function (name) {
                                let viewlayout = app.getNowViewLayout();
                                viewlayout.viewname = name;
                                delete viewlayout.viewid;
                                fetchPostJSON("/view/saveview", viewlayout, function () {
                                    cubeEvent.initTree();
                                    showInfo("保存成功!");
                                });
                            });
                        }
                        , deleteView() {
                            if (!viewid) {
                                showWarn("请先选择视图~");
                                return;
                            }
                            showConfirm("删除视图", "确认删除该视图么?", () => {
                                fetchGet("/view/deleteview?viewid=" + viewid, cubeEvent.initData)
                            });
                        }
                        , getNowViewLayout() {
                            let viewlayout = {};
                            viewlayout.cubeid = cubeid;
                            viewlayout.page = copyDim(this.page);
                            viewlayout.row = copyDim(this.row);
                            viewlayout.col = copyDim(this.col);
                            if (viewid) {
                                viewlayout.viewid = viewid;
                                viewlayout.viewname = viewname;
                            }
                            return viewlayout;
                        }
                    }
                });
            }

        }, getPage(page, split) {//获取当前页面维
            let pages = "";
            for (let item of page) {
                if (pages) {
                    if (split) {
                        pages += split;
                    } else {
                        pages += "#";
                    }

                }
                pages += item.dimCode + "." + item.selected;
            }
            return pages;
        }, loadTableData(isBlank, page, row, col) {
            let defaults = Ctable.getDefaultOptions();
            if (isBlank) {//空白的时候,清空所有表所有数据
                table.render(defaults);//重载
                return;
            }
            let cols = [];
            for (let item of col) {//遍历col,拼接列头
                let colOptions = item.options;
                let slice = [];
                for (let j = 0; j < colOptions.length; j++) {
                    let option = colOptions[j];
                    slice.push({
                        field: option.dimCode + '.' + option.code,
                        title: option.displayName,
                        edit: 'text',
                        event: option.dimCode + '.' + option.code
                    });
                }
                cols.push(slice);
            }
            if (col.length > 1) {//列多余2的,求笛卡尔集合
                let colCross = CrossUtils.cross(cols);
                let sliceCols = [];
                while (items = colCross.next()) {
                    let newitems = [];
                    let eventStr = "", filedStr = "";
                    for (let olditem of items) {
                        let item = {};
                        item = clone(olditem, item);
                        if (eventStr) {
                            filedStr = filedStr + "#" + item.field;
                            eventStr = eventStr + "#" + item.event;
                        } else {
                            filedStr = item.field;
                            eventStr = item.event;
                        }
                        delete item.field;
                        delete item.event;
                        newitems.push(item);
                    }
                    sliceCols.push(newitems);
                    newitems[0].field = filedStr;
                    newitems[0].event = eventStr;
                }
                cols = CrossUtils.transpose(sliceCols);//转置
            }
            let newCol0 = [];
            for (let item of row) {
                newCol0.push({
                    field: item.dimCode,
                    title: item.dimName,
                    width: '120',
                    rowspan: col.length,
                    fixed: "left"
                })
            }
            cols[0] = newCol0.concat(cols[0]);//设置表头
            let layout = app.getNowViewLayout();
            //展示已知数据
            let TOptions = {
                cols: cols,
                url: '/cube/getData',
                method: 'post',
                contentType: 'application/json;charset=utf-8',
                where: layout,
                parseData: function (res) { //res 即为原始返回的数据
                    return {
                        "code": res.code == 200 ? 0 : res.code, //解析接口状态
                        "msg": res.message, //解析提示文本
                        "count": res.data.length, //解析数据长度
                        "data": res.data //解析数据列表
                    };
                }
            };
            let options = $.extend(defaults, TOptions);
            table.render(options);//重载
        }
        , getDefaultOptions() {
            let defaults = {
                elem: '#maintable'
                , id: 'maintable'
                , height: 'full-250'
                , cellMinWidth: 100
                , cols: [[{field: 'col', title: '', width: '1'}]]
                , data: []
            };
            return defaults;
        }
    }

    function copyDim(layout) {
        let dims = [];
        if (layout) {
            layout.forEach((item) => {
                let dim = {};
                dim.dimId = item.dimId;
                dim.dimName = item.dimName;
                dim.dimCode = item.dimCode;
                dim.scope = item.scope;
                dim.selected = item.selected;
                dims.push(dim);
            });
        }
        return dims;
    }
</script>
</body>
</html>