<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>VUE自定义组件</title>
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, minimal-ui">
    <script src="/static/layuiadmin/layui/layui.js"></script>
    <script src="/static/common/utils.js"></script>
    <script src="/static/vue/vue.min.js"></script>
    <script src="/static/vue/Sortable.min.js"></script>
    <script src="/static/vue/vuedraggable.umd.min.js"></script>
    <script src="/static/element-ui@2.14.1/index.js"></script>
    <link rel="stylesheet" href="app.css" type="text/css"/>
    <link rel="stylesheet" href="/static/layuiadmin/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="/static/layuiadmin/style/admin.css" media="all">
    <link rel="stylesheet" href="/static/element-ui@2.14.1/index.css" media="all">
</head>
<body>
<div id="app">
    <div class="container page">
        <div class="layer title">Page</div>
        <div class="panel">
            <draggable v-model="page" group="dim" animation="100" drag-class="drag" ghost-class="ghost"
                       chosen-class="chosen" handle=".drag-handle" @start="onStart" @end="onEnd" :move="onMove">
                <div class="item" v-for="item in page" :key="item.id">
                    <div class="drag-handle">&#9776; {{item.name}}</div>
                    <el-select v-model="item.current" placeholder="请选择">
                        <el-option v-for="option in item.options" :key="option.key" :label="option.value"
                                   :value="option.key">
                        </el-option>
                    </el-select>
                </div>
            </draggable>
        </div>
    </div>

    <div class="container row">
        <div class="layer title" @click="exchange">Row</div>
        <div class="panel">
            <draggable v-model="row" group="dim" animation="100" drag-class="drag" ghost-class="ghost"
                       chosen-class="chosen" @start="onStart" @end="onEnd">
                <div class="item" v-for="item in row">
                    <div class="drag-handle">&#9776; {{item.name}}</div>
                </div>
            </draggable>
        </div>
    </div>

    <div class="container col">
        <div class="layer title">Col</div>
        <div id="col" class="panel">
            <draggable v-model="col" group="dim" animation="100" drag-class="drag" ghost-class="ghost"
                       chosen-class="chosen" @start="onStart" @end="onEnd">
                <div class="item" v-for="item in col" :key="item.id">
                    <div class="drag-handle">&#9776; {{item.name}}</div>

                </div>
            </draggable>
        </div>
    </div>

</div>
<script>
    var Ctable = {
        init: function () {
            layui.config({
                base: '/static/layuiadmin/' //静态资源所在路径
            }).extend({
                index: 'lib/index' //主入口模块
            }).use(['index', 'jquery', 'layer', 'form', 'table'], function () {
                window.$ = layui.$, window.layer = layui.layer, window.form = layui.form;
            });
        },
        freshTable(page, row, col) {
            console.log(page);
            console.log(row);
            console.log(col);
        }
    }
    // var Ctor = Vue.extend(Main)
    // new Ctor().$mount('#app')
    Vue.component('vuedraggable', window.vuedraggable.name)
    var app = new Vue({
        el: '#app',
        components: {
            vuedraggable,
        }, created: function () {
            Ctable.init();
        }
        , updated: function () {
            Ctable.freshTable(this.page, this.col, this.row);
        }
        , data() {
            return {
                drag: false,
                page: [
                    {
                        id: 1,
                        name: 'itxst.com',
                        current: "21",
                        options: [{key: "11", value: "itxst1"}, {key: "21", value: "itxst2"}]
                    },
                    {
                        id: 2,
                        name: 'jd.com',
                        current: "12",
                        options: [{key: "12", value: "jd-1"}, {key: "22", value: "jd-2"}]
                    },
                    {
                        id: 3,
                        name: 'baidu.com',
                        current: "13",
                        options: [{key: "13", value: "baidu-1"}, {key: "23", value: "baidu-2"}]
                    },
                    {
                        id: 4,
                        name: 'taobao.com',
                        current: "14",
                        options: [{key: "14", value: "taobao-1"}, {key: "24", value: "taobao-2"}]
                    }
                ],
                col: [
                    {id: 1, name: 'tencent.com'},
                ],
                row: [
                    {id: 1, name: 'google.com'},
                    {id: 2, name: 'msn.com'},
                ]
            };
        },
        methods: {
            onStart() {
                this.drag = true;
            },
            onEnd() {
                this.drag = false;
            },
            onMove(e) {
                // if (e.draggedContext.element.id == 4) return false;
                return true;
            },
            exchange() {
                var temp = this.row;
                this.row = this.col;
                this.col = temp;
            }

        }
    });
</script>
</body>
</html>