<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>VUE自定义组件</title>
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, minimal-ui">
    <script src="/static/layuiadmin/layui/layui.js"></script>
    <script src="/static/common/utils.js"></script>
    <script src="/static/vue/vue.min.js"></script>
    <script src="/static/vue/Sortable.min.js"></script>
    <script src="/static/vue/vuedraggable.umd.min.js"></script>
    <script src="/static/element-ui@2.14.1/index.js"></script>
    <script src="crossUtil.js"></script>
    <link rel="stylesheet" href="app.css" type="text/css"/>
    <link rel="stylesheet" href="/static/layuiadmin/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="/static/layuiadmin/style/admin.css" media="all">
    <link rel="stylesheet" href="/static/element-ui@2.14.1/index.css" media="all">
</head>
<body>
<div id="app">
    <div class="container page">
        <div class="layer title">Page</div>
        <div class="panel">
            <draggable v-model="page" group="dim" animation="100" drag-class="drag" ghost-class="ghost"
                       chosen-class="chosen" handle=".drag-handle" @start="onStart" @end="onEnd" :move="onMove">
                <div class="item" v-for="item in page">
                    <div class="drag-handle">&#9776; {{item.dimName}}</div>
                    <el-select v-model="item.selectedMember" placeholder="请选择">
                        <el-option v-for="option in item.options" :class="`indent${option.generation}`"
                                   :key="option.code" :label="option.displayName"
                                   :value="option.code">
                        </el-option>
                    </el-select>
                </div>
            </draggable>
        </div>
    </div>
    <div class="container row">
        <div class="layer title">行</div>
        <div id="row" class="panel">
            <draggable v-model="row" group="dim" animation="100" drag-class="drag" ghost-class="ghost"
                       chosen-class="chosen" @start="onStart" @end="onEnd">
                <div class="item" v-for="item in row">
                    <div class="drag-handle">&#9776; {{item.dimName}}</div>
                </div>
            </draggable>
        </div>
    </div>
    <div class="container col">
        <span @click="exchange"></span>
        <div class="layer title">列</div>
        <div class="panel">
            <draggable v-model="col" group="dim" animation="100" drag-class="drag" ghost-class="ghost"
                       chosen-class="chosen" @start="onStart" @end="onEnd">
                <div class="item" v-for="item in col">
                    <div class="drag-handle">&#9776; {{item.dimName}}</div>
                </div>
            </draggable>
        </div>
    </div>
    <div class="maintable">
        <table class="layui-hide" id="maintable" lay-filter="maintable">
        </table>
    </div>

</div>
<script>
    var cubeid = "133874023144632320";
    Vue.component('vuedraggable', window.vuedraggable.name);
    layui.config({
        base: '/static/layuiadmin/' //静态资源所在路径
    }).extend({
        index: 'lib/index' //主入口模块
    }).use(['index', 'jquery', 'layer', 'form', 'table'], function () {
        window.$ = layui.$, window.layer = layui.layer, window.form = layui.form, window.table = layui.table;
        Ctable.initPages();
        Ctable.bindTableEvent();
    });

    var Ctable = {
        initPages: function () {
            window.app = new Vue({
                el: '#app',
                components: {
                    vuedraggable,
                }, created: function () {
                    this.initPages();
                }
                , updated: function () {
                    if (this.row.length == 0 || this.col.length == 0) {
                        Ctable.loadTabeData(true);
                    } else {
                        Ctable.loadTabeData(false, this.page, this.row, this.col);
                    }
                }
                , data() {
                    return {
                        drag: false,
                        page: [],
                        col: [],
                        row: []
                    };
                },
                methods: {
                    initPages() {
                        fetchGet("/cube/getPages?id=" + cubeid, function (data) {
                            app.page = data;
                        });
                    },
                    onStart() {
                        this.drag = true;
                    },
                    onEnd() {
                        this.drag = false;
                    },
                    onMove(e) {
                        // if (e.draggedContext.element.id == 4) return false;
                        return true;
                    },
                    exchange() {
                        var temp = this.row;
                        this.row = this.col;
                        this.col = temp;
                    }

                }
            });
        }, bindTableEvent() {
            //监听单元格编辑
            table.on('edit(maintable)', function (obj) {
                var value = obj.value //得到修改后的值
                    , data = obj.data //得到所在行所有键值
                    , field = obj.field; //得到字段
                fetchPost("/cube/updateValue", {code: data.code, attrvalue: value, attrname: field})
            });
            //监听行单击事件（双击事件为：rowDouble）
            table.on('row(maintable)', function (obj) {
                var data = obj.data;
                //标注选中样式
                obj.tr.addClass('layui-table-click').siblings().removeClass('layui-table-click');
            });

            //监听单元格事件
            table.on('tool(maintable)', function (obj) {
                let attrids = obj.event.split(',');
                FIELD = attrids[0];
                ATTRID = attrids[1];
            });
        }, loadTabeData(isBlank, page, row, col) {
            var tableoptions = {};
            if (isBlank) {
                tableoptions = {
                    elem: '#maintable'
                    , id: 'maintable'
                    , height: 'full-185'
                    , cols: [[{field: 'col', title: '无'}]]
                    , data: []
                };
            } else {
                var cols = [];
                for (let i = 0; i < col.length; i++) {
                    var colOptions = col[i].options;
                    var slice = [];
                    for (let j = 0; j < colOptions.length; j++) {
                        var option = colOptions[j];
                        slice.push({
                            filed: option.code,
                            title: option.displayName,
                            edit: 'text',
                            event: option.dimCode + '.' + option.code,
                            minWidth: 80
                        });
                    }
                    cols.push(slice);
                }
                if (col.length > 1) {
                    var colCross = CrossUtils.cross(cols);
                    var index = 0;
                    var slicecols = [];
                    while (items = colCross.next()) {
                        var eventStr;
                        for (var item of items) {
                            if (eventStr) {
                                item.event = eventStr + "#" + item.event
                            } else {
                                eventStr = item.event;
                            }
                        }
                        slicecols.push(items);
                    }
                    cols = CrossUtils.transpose(slicecols);//转置
                }
                var newCol0 = [];
                var rows = "";
                for (var item of row) {
                    if (rows) {
                        rows += "__";
                    }
                    rows += item.dimCode;
                    newCol0.push({
                        filed: item.dimCode,
                        title: item.dimName,
                        fixed: 'left',
                        width: '100',
                        rowspan: col.length
                    })
                }
                cols[0] = newCol0.concat(cols[0]);//设置表头
                var pages = "";
                for (var item of page) {
                    if (pages) {
                        pages += "__";
                    }
                    pages += item.dimCode + "." + item.selectedMember;
                }
                var colstrs = "";
                for (var item of col) {
                    if (colstrs) {
                        colstrs += "__";
                    }
                //展示已知数据
                tableoptions = {
                    elem: '#maintable'
                    , id: 'maintable'
                    , height: 'full-85'
                    , cols: cols
                    , url: '/cube/getData?cubeid=' + cubeid + '&pages=' + pages + "&rows=" + rows+"&cols="+colstrs
                    , parseData: function (res) { //res 即为原始返回的数据
                        return {
                            "code": res.code == 200 ? 0 : res.code, //解析接口状态
                            "msg": res.message, //解析提示文本
                            "count": res.data.length, //解析数据长度
                            "data": res.data //解析数据列表
                        };
                    }
                };

            }
            table.render(tableoptions);//重载
        }
    }
</script>
</body>
</html>