<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yonyou.mde.web.dao.AttrvalueMapper">
  <resultMap id="BaseResultMap" type="com.yonyou.mde.web.model.AttrValue">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="memberid" jdbcType="BIGINT" property="memberid" />
    <result column="attrValue" jdbcType="VARCHAR" property="attrvalue" />
  </resultMap>
</mapper>