<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.company.project.dao.CubeMapper">
  <resultMap id="BaseResultMap" type="com.company.project.model.Cube">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="cubename" jdbcType="VARCHAR" property="cubename" />
    <result column="cubecode" jdbcType="VARCHAR" property="cubecode" />
    <result column="loadsql" jdbcType="VARCHAR" property="loadsql" />
    <result column="autoload" jdbcType="INTEGER" property="autoload" />
    <result column="autosql" jdbcType="INTEGER" property="autosql" />
    <result column="position" jdbcType="INTEGER" property="postion" />
    <result column="dimcodes" jdbcType="LONGVARCHAR" property="dimids" />
  </resultMap>
</mapper>